@media screen and (min-device-width: 1024px) {
    main div {
        margin: 0 256px;
    }
}
@media screen and (max-device-width: 1024px) {
    main div {
        margin: 0 128px;
    }
}
body {
    font-family: Nunito Sans, Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-weight: 300;
    margin: 0;
    padding: 0;
    background-color: white;
}
header {
    justify-content: center;
    display: flex;
    width: calc(100% - 64px);
    background-color: white;
    padding: 24px;
    height: 2rem;
}
header a {
    text-decoration: none;
    user-select: none;
    height: 1.15625em;
}
header div {
    padding: 0 32px;
}
header div a {
    user-select: auto;
    color: black;
    background-color: transparent;
    font-weight: bold;
    font-size: 1em;
    line-height: 1em;
    padding-right: 32px;
}
main {
    margin: 0 80px 0 80px;
    font-weight: 300;
    position: relative;
    top: -24px;
}
h1 {
    margin: 0;
    color: white;
    font-size: 3rem;
}
h1 {
    background-image: url("./image/group.png");
    background-size: cover;
    background-position: 25% 50%;
    padding: 192px 288px;
}
h1 div {
    width: 50%;
}
span {
    display: inline-block;
}
body h1 a {
    color: white;
    font-size: 16px;
    padding: 8px 16px;
    border: 2px solid white;
    text-decoration: none;
    user-select: none;
    transition: 0.15s;
}
body h1 a:hover {
    background-color: black;
    border: 2px solid black;
    filter: invert();
}
main div {
    background-color: black;
    color: white;
    position: relative;
    top: -48px;
    padding: 48px 0;
    text-align: center;
}
main div a {
    color: rgba(106, 90, 205, .5);
    background-color: white;
    background-clip: text;
    text-decoration: none;
    font-weight: bold;
}
main div a::after {
    content: " →";
}
main div a:hover {
    text-decoration: underline solid;
}